pipeline/Store nfl stats to cosmos db.json
{
	"name": "Store nfl stats to cosmos db",
	"properties": {
		"activities": [
			{
				"name": "Iterate seasons",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Copy qbr_season_level",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@range(2008, 18)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy stats_player_post",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "CosmosDbSqlApiSink",
									"writeBehavior": "upsert",
									"disableMetricsCollection": false
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "stats_player_post",
									"type": "DatasetReference",
									"parameters": {
										"seasonYear": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "stats_player_post_nosql",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Copy stats_player_reg",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Copy stats_player_post",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "CosmosDbSqlApiSink",
									"writeBehavior": "upsert",
									"disableMetricsCollection": false
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "stats_player_reg",
									"type": "DatasetReference",
									"parameters": {
										"seasonYear": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "stats_player_reg_nosql",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Copy stats_team_post",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Copy stats_player_reg",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "CosmosDbSqlApiSink",
									"writeBehavior": "upsert",
									"disableMetricsCollection": false
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "stats_team_post",
									"type": "DatasetReference",
									"parameters": {
										"seasonYear": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "stats_team_post_nosql",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Copy stats_team_reg",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Copy stats_team_post",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "CosmosDbSqlApiSink",
									"writeBehavior": "upsert",
									"disableMetricsCollection": false
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "stats_team_reg",
									"type": "DatasetReference",
									"parameters": {
										"seasonYear": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "stats_team_reg_nosql",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Copy qbr_season_level",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "CosmosDbSqlApiSink",
						"writeBehavior": "upsert",
						"disableMetricsCollection": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "qbr_season_level",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "qbr_season_level_nosql",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": []
	}
}